<div class="col-lg-8">
  <div class="dlp-featured">
      <%= render 'featured_works' %>
  </div>
</div>

<div class="col-lg-4">
  <ul class="nav nav-tabs" role="list">
    <li class="nav-item">
      <a class="nav-link active" aria-expanded="true" href="#tab-col2-first" data-toggle="tab">
        <%= t('hyrax.homepage.admin_sets.title') %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" href="#tab-col2-second" data-toggle="tab">
        <%= t('hyrax.homepage.featured_researcher.tab_label') %>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane show active" id="tab-col2-first">
      <h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
      <%= render 'explore_collections', collections: @presenter.collections %>
    </div>
    <div class="tab-pane" id="tab-col2-second">
      <h2 class="sr-only"><%= t('hyrax.homepage.featured_researcher.title') %></h2>
      <%= render 'featured_researcher' %>
    </div>
  </div>
</div>
