<% provide :page_title, application_name %>
<meta name="description" content="OpenEmory is an open access repository of scholarly works by Emory researchers and a service of Emory Libraries.">

<% if @presenter.display_share_button? && !Flipflop.read_only? %>
<div class="home-share-work text-center dlp-hero dlp-fullwidth">
    <div class="dlp-hero-container">
    <h1>OpenEmory</h1>
    <p>Bringing Emory research to the world since 2012</p>
      <% if signed_in? %>
    <% if @presenter.create_many_work_types? %>
      <%= link_to '#',
        class: "btn btn-primary btn-lg",
        data: { behavior: 'select-work', toggle: 'modal', target: '#worktypes-to-create', 'create-type' => 'single' } do %>
        <i class="fa fa-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
      <% end %>
    <% else # simple link to the first work type %>
   <% #SIGNED IN %>
      <%= link_to new_polymorphic_path([main_app, @presenter.first_work_type]),
            class: 'btn btn-primary btn-lg' do %>
        <i class="fa fa-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
      <% end %>
    <% end %>
  <% else %>
  <% #SIGNED OUT %>
    <%= link_to hyrax.my_works_path,
      class: "btn btn-primary btn-lg" do %>
      <i class="fa fa-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
    <% end %>
  <% end %>
  <p class="terms-of-use"><%= link_to ('How to Submit'), hyrax.help_path %></p>
    </div>
</div>
<% end %>

<div class="row home-content dlp-explore-publications dlp-fullwidth">
  <div class="dlp-explore-publications-wrapper container">
    <h2 class="alt">Explore our Publications</h2>
    <%= render 'home_content' %>
  </div>
</div>

<%= render '/shared/select_work_type_modal', create_work_presenter: @presenter.create_work_presenter if @presenter.draw_select_work_modal? %>

<div class="dlp-explore-collections"> 
  <h2 class="alt">View by Collection</h2>
  <%= render 'explore_collections', collections: @presenter.collections %>
</div>


<div class="dlp-stats-wrapper">
  <h2 class="alt">Statistics</h2>
  <div class="dlp-stats row">
    <div class="dlp-stat col-lg-4"></div>
    <div class="dlp-stat col-lg-4">
      <div class="top">
        Total works deposited
      </div>
      <div class="middle">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      </div>
      <div id="total-works-num" class="bottom"><%= @presenter.total_works_deposited_count %></div>
    </div>
    <div class="dlp-stat col-lg-4"></div>
  </div>
</div>
