<!-- Hyrax 5.0.1 override: display file set use and moves h2 title to file_set/show.html.erb -->


<dl class="file-show-term">
  <div class="row">
    <dt class="col-3"><%= t(".depositor") %></dt>
    <dd class="col-9" itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= link_to_profile @presenter.depositor %></span></dd>
  </div>
  <div class="row">
    <dt class="col-3"><%= t(".file_set_use") %></dt>
    <dd class="col-9"><span><%= @presenter.solr_document&.fetch("file_set_use_ssi", '') %></span></dd>
  </div>
  <div class="row">
    <dt class="col-3"><%= t(".date_uploaded") %></dt>
    <dd class="col-9" itemprop="datePublished"><%= @presenter.date_uploaded %></dd>
  </div>
  <div class="row">
    <dt class="col-3"><%= t(".date_modified") %></dt>
    <dd class="col-9" itemprop="dateModified"><%= @presenter.date_modified %></dd>
  </div>
  <div class="row">
    <dt class="col-3"><%= t(".fixity_check") %></dt>
    <dd class="col-9"><%= @presenter.fixity_check_status %></dd>
  </div>
  <div class="row">
    <dt class="col-3"><%= t(".characterization") %></dt>
    <dd class="col-9">
      <% if @presenter.characterized? %>
        <%= render 'show_characterization_details' %>
      <% else %>
        <%= t(".not_yet_characterized") %>
      <% end %>
    </dd>
  </div>
  <div class="row">
    <dd class="col-12">
    <% if current_user.try(:admin?) %>
      <%= button_to t('.fixity_check'), file_set_fixity_checks_path(file_set_id: @presenter.id), method: :post, class: 'btn btn-primary' %>
   <% end %>
    </dd>
  </div>
</dl>
