<header aria-label="header" class="top-header">
  <%= render '/controls' %>
  <nav id="masthead" class="navbar border-bottom navbar-expand-lg navbar-dark justify-content-between <%= placement_class %>" role="navigation" aria-label="masthead">
    <h1 class="sr-only"><%= application_name %></h1>
    <%= render '/logo' %>
    <div class="col-sm-7">
      <%= render partial: 'catalog/search_form' %>
    </div>
  </nav>
</header>