<!DOCTYPE html>
<html>
  <head>
    <title>NuraxPg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'xray', nonce: true, "data-turbo-track": "reload", defer: true if Rails.env.development? %>
    <%= stylesheet_link_tag 'xray', nonce: true if Rails.env.development? %> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
