<% sorted_events = sort_preservation_events(@presenter) %>
<% if sorted_events.present? %>
    <table id="preservation-event-table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th><%= t('.event') %></th>
            <th><%= t('.timestamp') %></th>
            <th><%= t('.outcome') %></th>
            <th><%= t('.detail') %></th>
            <th><%= t('.user') %></th>
            <th><%= t('.software') %></th>
        </tr>
        </thead>
        <tbody>
            <% sorted_events.each do |event_data| %>
                <%= render 'event', event_data: event_data %>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p>No preservation events found.</p>
<% end %>
